@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ffffff;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: hsl(217.8, 23.1%, 22.9%);
  background: #f8f8f8;
}

/* Navbar */
.navbar {
  background: #f9f9f9;
  color: #fff;
  padding: 0.5rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navbar{
    background: #f9f9f9;
    color: #fff;
    padding: 0.4rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 1rem;
}

.text_right1{

  color: hsl(217.8, 23.1%, 22.9%);
  text-decoration: none;

}

.navbar a {
  color: hsl(217.8, 23.1%, 22.9%);
  text-decoration: none;
  font-size: 1rem;
}

.navbar a:hover {
  color: #ca3643;
}

/* Showcase */
.showcase {
  height: 500px;
  width: 100%;
  padding: 20px;
  text-align: center;
  background: var(--primary-color);
}

.showcase h1 {
  font-size: 1.5rem;
  color: hsl(217.8, 23.1%, 22.9%);
  text-align: center;
  padding: 0.7rem 0;
}

@media screen and (min-width: 768px) {
  .showcase h1{
    font-size: 2rem;
  color: hsl(217.8, 23.1%, 22.9%);
  text-align: center;
  padding: 0.7rem 0;
  }
}

.showcase form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.logo2{

    display: block;
    height: 60px;
    width: auto;
    padding: 5px 0px;

}

.header1{

  display: none;
}

@media screen and (min-width: 768px) {
  .header1{
    display: block;
    margin: 14px 5px; 
    color: hsl(217.8, 23.1%, 22.9%);
    font-size: 1.5rem !important; 
    text-decoration: none !important;
  }
}


@media screen and (min-width: 768px) {
  .logo2{
    display: block;
    height: 70px; 
    width: auto; 
    padding: 5px;
  }
}



.showcase form input,
form select {
  font-size: 16px;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;

}

form button {
  font-size: 20px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background: #d84651;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

form button:hover {
  transform: scale(1.1);
}

/* Image */

.image {
  width: 100%;
  background-color: #fcfcfc;
}

img {
  display: block;
  margin: auto;

}

.msg {
  font-size: 1.6rem;
  text-align: center;
}
